.Section1 {
  .Section1-container {
    position: relative;
  }



  .Section1-text {
    background-color: #003060;
    position: absolute;
    color: white;
    top: 50%;
    right: 0;
    width: 554px;
    padding: 30px;
    margin-right: -50px;
    transform: translateY(-50%);
    font-size: 17px;
  }

  .Section1-img {}

}

.Section2 {

  padding: 0 15%;


  .Section2-text {
    padding-top: 40px;
    text-align: center;
    font-size: 17px;
    color: gray;
    margin-top: 20px;
  }

  .Section2-carousel {
    display: flex;


    .container-carousel {
      padding: 10px 20px;
      display: flex;
      align-content: center;
      align-items: center;
    }

    .img-carousel {
      width: 100%;
      filter: grayscale(1);
    }
  }

}

.Section3 {
  .Section3-header {
    padding: 50px 0px 10px 50px;
    color: #ffd500;


  }

  .img-backgraund {
    background-image: url(/assets/img/img-section3-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 6rem;
    min-width: 100%;
    min-height: 460px;

  }

  .box1 {
    background-image: url(/assets/img/img-section3-box1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-width: 100%;
    min-height: 244px;

    .box1-text1 {
      padding: 13px 6px 0px 71px;
      color: white;
      font-size: 20px;
    }

    .box1-text2 {
      padding: 10px 31px 2px 74px;
      font-size: 18px;
      color: #003060;
    }


  }

  .box2 {
    background-color: #727272;
    background-image: url(/assets/img/img-section3-box2.png);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: bottom right;

    height: 150px;

  }

  .box3 {
    background-color: #77aede;
    background-image: url(/assets/img/img-section3-box3.png);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: bottom right;

    height: 150px;

  }

  .box4 {
    background-size: contain;
    background-repeat: no-repeat;

    min-width: 100%;
    height: 150px;
    background-image: url(/assets/img/img-section3-box4.jpg);

    .box4-text {
      padding: 10px 137px 0px 14px;
      font-size: 19px;
      color: #003060;

    }
  }

  .box5 {
    padding-top: 40px;
    margin-right: 200px;

    .box5-tittle {
      color: #77aede;
    }

    .box5-text {
      font-size: 20px;
    }
  }
}

.Section-4 {
  padding-top: 70px;

  .Section4-text {
    padding-right: 200px;

    .Section4-text1 {
      color: #77aede;
    }

    .Section4-text2 {
      color: #003060;
      font-size: 3.2rem;
      font-weight: 600;

    }

    .Section4-text3 {
      color: #727272;
    }
  }
}

.Section-5 {
  .Section5-header {
    padding: 50px 0px 10px 50px;
    color: #ffd500;
    flex-direction: column;


  }

  .news-container {
    background: #003060;
    background-size: cover;
    padding: 20px;
    height: 280px;
    margin: 5px;
    border-bottom: 10px solid #77aede;


    .news-text1 {
      color: #ffd500;
    }

    .news-text2 {
      color: white;
      font-size: 18px;
    }

    .news-text3 {
      color: #ffd500;
      font-size: 18px;

    }
  }

  .destacada-container {
    background: url(/assets/img/img-nyn.jpeg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    color: white;
    font-size: 25px;

    .destacada-text {
      padding: 25px 140px 0px 25px;
      font-weight: 400;
    }
  }


}