.Section1 {
  .Section1-container {
    position: relative;
  }



  .Section1-text {
    background-color: blue;
    position: absolute;
    color: white;
    top: 50%;
    right: 0;
    width: 400px;
    padding: 30px;
    margin-right: -50px;
    transform: translateY(-50%);
  }

}

.Section2 {

  padding: 0 15%;


  .Section2-text {
    padding: 25px;
    text-align: center;
  }

  .Section2-carousel {
    display: flex;


    .container-carousel {
      padding: 10px 20px;
      display: flex;
      align-content: center;
      align-items: center;
    }

    .img-carousel {
      width: 100%;
      filter: grayscale(1);
    }
  }

}
